.separator {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 0px;
  width: 100%;
  border-top-width: 1px;
  border-color: hsl(204 20% 88%);
}

.separator:where(.dark, .dark *) {
  border-color: hsl(204 4% 28%);
}

.menu {
  position: relative;
  z-index: 50;
  display: flex;
  max-height: var(--popover-available-height);
  min-width: 180px;
  flex-direction: column;
  overflow: auto;
  overscroll-behavior: contain;
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: hsl(204 20% 88%);
  background-color: white;
  padding: 0.5rem;
  color: black;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  outline: none !important;
  width: max-content;
  max-width: max(
    var(--popover-available-width),
    calc(100% - calc(var(--popover-overflow-padding) * 2))
  );
}

.menu:where(.dark, .dark *) {
  border-color: hsl(204 4% 24%);
  background-color: hsl(204 4% 16%);
  color: white;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.25),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.menu-item {
  display: flex;
  cursor: default;
  scroll-margin: 0.5rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  outline: none !important;
}

.menu-item[aria-disabled='true'] {
  opacity: 0.25;
}

.menu-item[data-active-item] {
  background-color: hsl(204 100% 40%);
  color: white;
}

.menu-item:active,
.menu-item[data-active] {
  background-color: hsl(204 100% 32%);
  padding-top: 9px;
  padding-bottom: 7px;
}

.menubar {
  display: flex;
  border-radius: 0.5rem;
  background-color: white;
  padding: 0.125rem;
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.menubar:where(.dark, .dark *) {
  background-color: hsl(204 4% 16%);
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.25),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.menubar-item {
  height: 2.5rem;
  border-radius: 0.375rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.menubar-item:focus {
  background-color: hsl(204 100% 40%);
  color: white;
}

.menubar-item:where(.dark, .dark *):focus {
  background-color: hsl(204 100% 40%);
}

.menubar:not(:focus-within) .menubar-item {
  background-color: transparent;
  color: inherit;
}

.menubar:not(:focus-within) .menubar-item:hover {
  background-color: hsl(204 100% 80% / 0.4);
}

.menubar:not(:focus-within) .menubar-item[aria-expanded='true'] {
  background-color: rgb(0 0 0 / 7.5%);
}

.menubar:not(:focus-within) .menubar-item:where(.dark, .dark *):hover {
  background-color: hsl(204 100% 40% / 0.4);
}

.menubar:not(:focus-within)
  .menubar-item:where(.dark, .dark *)[aria-expanded='true'] {
  background-color: rgb(255 255 255 / 0.1);
}

.menu .menu-item > .label {
  flex: 1 1 0%;
  padding-right: 2rem;
}

.menu:not(:focus-within) .menu-item[aria-expanded='true'] {
  background-color: rgb(0 0 0 / 7.5%);
  color: currentColor;
}

.menu:not(:focus-within)
  .menu-item:where(.dark, .dark *)[aria-expanded='true'] {
  background-color: rgb(255 255 255 / 0.1);
}
